<div class="card">
  <div class="img"><%= image_tag greyhound.photo_uri %></div>
  <h2 class="card-header"><%= greyhound.name %></h2>
  <p class="card-text"><%= greyhound.description %></p>
  <p><%= link_to 'profile Word doc', polymorphic_path(greyhound, format: :docx) %></p>
</div>
