<div class="card text-center">
    <%= link_to greyhound do %>
    <%= image_tag(greyhound.photo_uri, {class: "card-img img-rounded w-100"}) %>
    <h2 class="card-header"><%= greyhound.name %></h2>
    <% end %>
</div>
